.foto {
  width: 100vw;
  height: 100vh;

  background-image: url("CV.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  touch-action: none;
  user-select: none;
}
