.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center; /* tengah horizontal */
  align-items: center;     /* tengah vertikal */
}

img {
  max-width: 100%;
  max-height: 100%;
}
